@import 'scss/reset';
@import 'scss/base';

.floor2{
  background-image: url("./assets/Etage2.png");
}

.floor2Eco{
  background-image: url("./assets/Etage2_Eco.png");
}

.floor3{
  background-image: url("./assets/Etage3.png");
}

.floor4{
  background-image: url("./assets/Etage4.png");
}

.floor0{
  background-image: url("./assets/Etage0.png");
}

.button_floor{
  width: 100%;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  border-radius: .25rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 4px 0 rgb(0 0 0 / 12%);
}

.back_ground{
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
//
//.back_ground:before{
//  content: '';
//  display: block;
//  width: 100%;
//  height: 100%;
//  position: fixed;
//  pointer-events: none;
//  background: radial-gradient(
//                  circle 5vmax at 350px 450px,
//                  rgba(0,0,0,0.1) 10%,
//                  rgba(0,0,0,.2) 80%,
//                  rgba(0,0,0,.35) 100%
//  ),radial-gradient(
//                  circle 5vmax at 150px 250px,
//                  rgba(0,0,0,0.1) 10%,
//                  rgba(0,0,0,.2) 80%,
//                  rgba(0,0,0,.35) 100%
//  ),radial-gradient(
//                  circle 5vmax at 250px 350px,
//                  rgba(0,0,0,0.1) 10%,
//                  rgba(0,0,0,.2) 80%,
//                  rgba(0,0,0,.35) 100%
//  ),radial-gradient(
//                  circle 5vmax at 450px 550px,
//                  rgba(0,0,0,0.1) 10%,
//                  rgba(0,0,0,.2) 80%,
//                  rgba(0,0,0,.35) 100%
//  );
//}

.config{
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: .25rem;
  padding: 10px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 4px 0 rgb(0 0 0 / 12%);
}